# Problem Set 2
## Question 1
### Consider the following Python module:

a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

After importing the module into the interpreter, you execute:
b()
b()
b()
a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [1]:
a = 0  # global variable a=0

def b():
    global a  # accessing a
    a = c(a)  # passing value and store return value to global variable a

def c(a):
    return a + 2  # returns the value after adding 2 to the input a

In [2]:
b() #a=0 -> a=c(0)=2=0+2
b() #a=2 -> a=c(2)=4=2+2
b() #a=4 -> a=c(4)=6=4+2
a

6

# Question2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
#### >>> fileLength('midterm.py')
284
#### >>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
    
# >>> fileLength('midterm.py')
358
# >>> fileLength('idterm.py')
File idterm.py not found.

In [8]:
def fileLength(filename):
    try:
        contents = open(filename) # Open file
        data=contents.read() # read File contents
        length = len(data) #find the length of data using len() 
        print(f"Length of {filename1}:",length) #print Len
    except FileNotFoundError:
        print(f"File {filename} not found.") #Exception Message when file is not found

filename1 ="midterm.py" #file present
filename2 ="idterm.py" #name is not correct

fileLength(filename1)
fileLength(filename2)

Length of midterm.py: 919
File idterm.py not found.

# Question 3
Write a class named Marsupial that can be used as shown below:
#### >>> m = Marsupial()
#### >>> m.put_in_pouch('doll')
#### >>> m.put_in_pouch('firetruck')
#### >>> m.put_in_pouch('kitten')
#### >>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
#### >>> k = Kangaroo(0,0)
#### >>> print(k)
I am a Kangaroo located at coordinates (0,0)
#### >>> k.put_in_pouch('doll')
#### >>> k.put_in_pouch('firetruck')
#### >>> k.put_in_pouch('kitten')
#### >>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
#### >>> k.jump(1,0)
#### >>> k.jump(1,0)
#### >>> k.jump(1,0)
#### >>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [10]:
class Marsupial:  # Parent Class
    def __init__(self):  # Constructor
        self.pouch = []  # Blank list for tags

    def put_in_pouch(self, item):  # Function to add item to pouch
        self.pouch.append(item)  # Append the item to the pouch

    def pouch_contents(self):  # Function to return pouch contents
        return self.pouch  # Return the contents of the pouch


class Kangaroo(Marsupial):  # Child class inheriting from Marsupial
    def __init__(self, x, y):  # Constructor with coordinates
        super().__init__()  # Call the parent class constructor
        self.x = x  # Set x-coordinate
        self.y = y  # Set y-coordinate

    def jump(self, dx, dy):  # Function to simulate jumping
        self.x += dx  # Update x-coordinate by adding dx
        self.y += dy  # Update y-coordinate by adding dy

    def __str__(self):  # String representation of Kangaroo object
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"  # Return the string with coordinates


# Marsupial object operations
m = Marsupial()  # Create an instance of the Marsupial class
m.put_in_pouch('doll')  # Add 'doll' to the pouch
m.put_in_pouch('firetruck')  # Add 'firetruck' to the pouch
m.put_in_pouch('kitten')  # Add 'kitten' to the pouch
print(m.pouch_contents())  # Print the contents of the pouch

# Kangaroo object operations
k = Kangaroo(0, 0)  # Create an instance of the Kangaroo class at position (0,0)
print(k)  # Print the string representation of the Kangaroo object

k.put_in_pouch('doll')  # Add 'doll' to the Kangaroo's pouch
k.put_in_pouch('firetruck')  # Add 'firetruck' to the Kangaroo's pouch
k.put_in_pouch('kitten')  # Add 'kitten' to the Kangaroo's pouch
print(k.pouch_contents())  # Print the contents of the Kangaroo's pouch

k.jump(1, 0)  # Jump to the right by 1 unit
k.jump(1, 0)  # Jump to the right by 1 unit
k.jump(1, 0)  # Jump to the right by 1 unit
print(k)  # Print the updated string representation of the Kangaroo object

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
        洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦nx = {
        3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
#### >>> collatz(1)
1
#### >>> collatz(10)
10
5
16
8
4
2
1

In [12]:
def collatz(x):
    print(x)  # Print the value of x
    if x == 1:  # If the value of x is 1, exit the recursion
        return
    if x % 2 == 0:  # If the value is even
        collatz(x // 2)  # Recursively call collatz with x divided by 2
    else:  # If the value is odd
        collatz(3 * x + 1)  # Recursively call collatz with 3x + 1


collatz(1)  # Output: 1
print()  # Print a blank line to separate the two outputs
collatz(10)  # Output: 10 5 16 8 4 2 1

1

10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
#### >>> binary(0)
0
#### >>> binary(1)
1
#### >>> binary(3)
11
#### >>> binary(9)
1001

In [14]:
def binary(n):
    if n > 1:  # Check if n is greater than 1
        binary(n // 2)  # Recursively call binary with n divided by 2
    print(n % 2, end='')  # Print the remainder of n divided by 2, with no new line

binary(0) 
print()  # Print a newline to separate the results
binary(1) 
print()  # Print a newline to separate the results
binary(3)  
print()  # Print a newline to separate the results
binary(9)

0
1
11
1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
#### >>> infile = open('w3c.html')
#### >>> content = infile.read()
#### >>> infile.close()
#### >>> hp = HeadingParser()
#### >>> hp.feed(content)
W3C Mission
Principles

In [16]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False  # Flag to track if parser is inside a heading tag
        self.heading_level = 0  # Initialize heading indentation level
        self.headings = []  # List to store the headings

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and tag[1:].isdigit():  # Check if the tag is a valid heading tag
            self.in_heading = True  # Set in_heading flag to True
            self.heading_level = int(tag[1:])  # Set the heading level based on the tag

    def handle_data(self, data):
        if self.in_heading:
            indentation = " " * (self.heading_level - 1)  # Indentation based on the heading level
            heading_text = f"{indentation}{data.strip()}"  # Extract and format the heading text
            self.headings.append(heading_text)  # Append the heading text to the list

    def handle_endtag(self, tag):
        if self.in_heading:
            self.in_heading = False  # Set in_heading flag to False when exiting a heading tag

    def print_headings(self):
        for heading in self.headings:  # Iterate through the list of headings
            print(heading)  # Print each heading

# Usage example
if __name__ == '__main__':
    with open('w3c.html', 'r') as infile:  # Open the file in read mode
        content = infile.read()  # Read the content of the file

    hp = HeadingParser()  # Create an instance of HeadingParser
    hp.feed(content)  # Feed the content to the parser
    hp.print_headings()  # Print the extracted headings

W3C Mission
 Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
#### >>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [19]:
pip install beautifulsoup4

Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.0.1; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\users\hp\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

Collecting beautifulsoup4
  Downloading beautifulsoup4-4.12.2-py3-none-any.whl (142 kB)
Collecting soupsieve>1.2
  Downloading soupsieve-2.5-py3-none-any.whl (36 kB)
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.12.2 soupsieve-2.5

In [20]:
import requests
from bs4 import BeautifulSoup

In [21]:
def webdir(url, depth, indent=0):
    if depth < 0:  # Check if depth is non-negative
        return

    try:  # Use try-except to handle exceptions
        response = requests.get(url)  # Get the response from the URL
        response.raise_for_status()  # Check the HTTP status code of the response
        soup = BeautifulSoup(response.text, 'html.parser')  # Parse the HTML content

        print(" " * indent + url)  # Print the URL with the specified indentation

        if depth > 0:  # Check if depth is greater than 0
            links = soup.find_all('a')  # Find all anchor tags in the HTML content
            for link in links:
                href = link.get('href')  # Get the 'href' attribute value from the anchor tag
                if href and href.startswith('http'):  # Check if the URL is absolute
                    webdir(href, depth - 1, indent + 2)  # Recursively call webdir with reduced depth and increased indentation

    except Exception as e:  # Catch any exceptions and print an error message
        print(" " * indent + f"Error accessing {url}: {e}")

# Example usage
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)  # Call the webdir function with the specified URL, depth, and initial indentation

Error accessing http://reed.cs.depaul.edu/lperkovic/csc242/test1.html: 404 Client Error:  for url: http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [1]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: six in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from ipython-sql) (7.20.0)
Requirement already satisfied: sqlparse in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: ipython-genutils in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from ipython-sql) (2.0.22)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from ipython->ipython-sql) (49.2.1)
Requirement already satisfied: jedi>=0.16 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from ipython->ipython-sql) (0.18.0)
Requirement already satisfied: pygments in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from ipython->ipython-sql) (2.7.4)
Requirement already satisfied: traitlets>=4.2 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from ipython->ipython-sql) (5.0.5)
Requirement already satisfied: pickleshare in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: backcall in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from ipython->ipython-sql) (3.0.16)
Requirement already satisfied: colorama in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from ipython->ipython-sql) (0.4.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.1)
Requirement already satisfied: wcwidth in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-sql) (0.2.5)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.0.1; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\users\hp\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [2]:
%load_ext sql
%sql sqlite://

In [5]:
%%sql 
CREATE TABLE IF NOT EXISTS weather (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature REAL,
    Rainfall REAL
);

 * sqlite://
Done.

[]

In [7]:
%%sql
INSERT INTO weather (City, Country, Season, Temperature, Rainfall)
VALUES
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5);

 * sqlite://
12 rows affected.

[]

In [9]:
%%sql
SELECT * FROM weather

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5),
 ('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [11]:
# a) All the temperature data.
print("Temperature Data Information")
Temp = %sql SELECT Temperature FROM weather
print(Temp) #select Temperture column

# b) All the cities, but without repetition.
print("Information of All the Cities without repetition")
City = %sql SELECT DISTINCT City FROM weather
print(City) #get the unique city from table 

# c) All the records for India.
print("Information of India")
India_Info = %sql SELECT * FROM weather WHERE Country = 'India'
print(India_Info) # filter using coutry ='India' to get all record 

# d) All the Fall records
print("Information of Fall")
Fall_Season_Info = %sql SELECT * FROM weather WHERE Season = 'Fall'
print(Fall_Season_Info) # only fall data using the where condition

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
print("The city, country, and season for which the average rainfall is between 200 and 400 millimeters")
Avg_RainFall = %sql SELECT City, Country, Season FROM weather GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400
print(Avg_RainFall) 

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
print(" The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order")
Avg_Temprature = %sql SELECT City, Country, Season FROM weather GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400
print(Avg_Temprature)

# g) The total annual rainfall for Cairo.
print("The total annual rainfall for Cairo")
Annual_Rainfall = %sql SELECT City, SUM(Rainfall) AS Total_Annual_Rainfall FROM weather WHERE City = 'Cairo' GROUP BY City
print(Annual_Rainfall)

# h) The total rainfall for each season.
print("The total rainfall for each season")
Total_Rainfall = %sql SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM weather GROUP BY Season
print(Total_Rainfall)

Temperature Data Information
 * sqlite://
Done.
+-------------+
| Temperature |
+-------------+
|     24.8    |
|     28.4    |
|     27.9    |
|     27.6    |
|     4.2     |
|     8.3     |
|     15.7    |
|     10.4    |
|     13.6    |
|     20.7    |
|     27.7    |
|     22.2    |
|     24.8    |
|     28.4    |
|     27.9    |
|     27.6    |
|     4.2     |
|     8.3     |
|     15.7    |
|     10.4    |
|     13.6    |
|     20.7    |
|     27.7    |
|     22.2    |
+-------------+
Information of All the Cities without repetition
 * sqlite://
Done.
+--------+
|  City  |
+--------+
| Mumbai |
| London |
| Cairo  |
+--------+
Information of India
 * sqlite://
Done.
+--------+---------+--------+-------------+----------+
|  City  | Country | Season | Temperature | Rainfall |
+--------+---------+--------+-------------+----------+
| Mumbai |  India  | Winter |     24.8    |   5.9    |
| Mumbai |  India  | Spring |     28.4    |   16.2   |
| Mumbai |  India  | Summer |     27.9    |  1549.4  |
| Mumbai |  India  |  Fall  |     27.6    |  346.0   |
| Mumbai |  India  | Winter |     24.8    |   5.9    |
| Mumbai |  India  | Spring |     28.4    |   16.2   |
| Mumbai |  India  | Summer |     27.9    |  1549.4  |
| Mumbai |  India  |  Fall  |     27.6    |  346.0   |
+--------+---------+--------+-------------+----------+
Information of Fall
 * sqlite://
Done.
+--------+----------------+--------+-------------+----------+
|  City  |    Country     | Season | Temperature | Rainfall |
+--------+----------------+--------+-------------+----------+
| Mumbai |     India      |  Fall  |     27.6    |  346.0   |
| London | United Kingdom |  Fall  |     10.4    |  218.5   |
| Cairo  |     Egypt      |  Fall  |     22.2    |   4.5    |
| Mumbai |     India      |  Fall  |     27.6    |  346.0   |
| London | United Kingdom |  Fall  |     10.4    |  218.5   |
| Cairo  |     Egypt      |  Fall  |     22.2    |   4.5    |
+--------+----------------+--------+-------------+----------+
The city, country, and season for which the average rainfall is between 200 and 400 millimeters
 * sqlite://
Done.
+--------+----------------+--------+
|  City  |    Country     | Season |
+--------+----------------+--------+
| London | United Kingdom |  Fall  |
| London | United Kingdom | Winter |
| Mumbai |     India      |  Fall  |
+--------+----------------+--------+
 The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
 * sqlite://
Done.
+--------+----------------+--------+
|  City  |    Country     | Season |
+--------+----------------+--------+
| London | United Kingdom |  Fall  |
| London | United Kingdom | Winter |
| Mumbai |     India      |  Fall  |
+--------+----------------+--------+
The total annual rainfall for Cairo
 * sqlite://
Done.
+-------+-----------------------+
|  City | Total_Annual_Rainfall |
+-------+-----------------------+
| Cairo |          55.2         |
+-------+-----------------------+
The total rainfall for each season
 * sqlite://
Done.
+--------+--------------------+
| Season |   Total_Rainfall   |
+--------+--------------------+
|  Fall  |       1138.0       |
| Spring | 384.59999999999997 |
| Summer |       3413.0       |
| Winter |       460.2        |
+--------+--------------------+

# Question 9
Suppose list words is defined as follows:

#### >>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [12]:
# Given list of words
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# Convert words to Uppercase
UC_Words = [word.upper() for word in words]  # Convert each word to Uppercase

# Convert words to Lowercase
LC_Words = [word.lower() for word in words]  # Convert each word to Lowercase

# Find the length of each word
Length_of_Words = [len(word) for word in words]  # Find the length of each word

# List of information with Uppercase, Lowercase, and Word Length
Word_Info = [[word.upper(), word.lower(), len(word)] for word in words]  # Create a list with uppercase, lowercase, and length of each word

# Select words with 4 or more characters
More_Ch_Words = [word for word in words if len(word) >= 4]  # Select words with 4 or more characters

# Print the results
print(UC_Words)  # Print words in Uppercase
print()
print(LC_Words)  # Print words in Lowercase
print()
print(Length_of_Words)  # Print the lengths of the words
print()
print(Word_Info)  # Print the list of information with Uppercase, Lowercase, and Word Length
print()
print(More_Ch_Words)  # Print words with 4 or more characters

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

[3, 5, 5, 3, 5, 4, 3, 4, 3]

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

['quick', 'brown', 'jumps', 'over', 'lazy']